spring:
  application:
    name: solo-leveling-telegram
  datasource:
    url: jdbc:postgresql://localhost:5432/solo_leveling
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  profiles:
    include: jimmer
  threads:
    virtual:
      enabled: true
app:
  telegram:
    bot:
      token: ${TELEGRAM_BOT_TOKEN_DEV}
      api:
        url: https://api.telegram.org/bot
      webhook:
        host: https://solo-leveling-telegram.ru.tuna.am
        path: webbook
server:
  port: 10005